/* Start global rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  /* background-color: black; */
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End global rules */
/* Start main-content */
/* Start hangman */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 15px 5px;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  gap: 30px;
}

.header .cat span {
  color: red;
  font-weight: bold;
}

.header h1 {
  color: purple;
  font-size: 20px;
}

.main-cont {
  background-color: #eee;
  margin-top: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.main-cont .hangman {
  width: calc(50% - 20px);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-cont .keys {
  width: calc(50% - 20px);
}

@media (max-width: 767px) {
  .main-cont {
    flex-direction: column;
  }
  .main-cont .hangman {
    width: 100%;
  }
}

.main-cont .hangman .draw {
  position: relative;
  width: 320px;
  height: 350px;
}

.main-cont .hangman .line {
  background-color: black;
  position: absolute;
  border-radius: 6px;
  display: none;
}

.main-cont .hangman .line:first-of-type {
  height: 4px;
  width: 150px;
  bottom: 50px;
  left: 35%;
  transform: translateX(-50%);
}
.main-cont .hangman .line:nth-child(2) {
  height: 290px;
  width: 4px;
  bottom: 53px;
  left: 35%;
  transform: translateX(-50%);
}
.main-cont .hangman .line:nth-child(3) {
  width: 140px;
  height: 4px;
  left: 35%;
  bottom: 325px;
}
.main-cont .hangman .line:nth-child(4) {
  width: 4px;
  height: 30px;
  bottom: 296px;
  left: 60%;
  animation-name: gallows2;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-play-state: paused;
}
.main-cont .hangman .line:nth-child(5) {
  background-color: transparent;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px dashed black;
  left: 60%;
  transform: translateX(-50%) rotate(18deg);
  bottom: 227px;
  animation-name: gallows1;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-play-state: paused;
}
.main-cont .hangman .line:nth-child(6) {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid black;
  left: 60%;
  transform: translateX(-50%);
  bottom: 237px;
  animation-name: neck;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-play-state: paused;
}
.main-cont .hangman .line:nth-child(7) {
  width: 4px;
  height: 80px;
  bottom: 158px;
  left: 60%;
  transform: translateX(-50%);
  animation-name: body;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-play-state: paused;
}
.main-cont .hangman .line:nth-child(8) {
  width: 4px;
  height: 60px;
  transform: rotate(120deg);
  bottom: 187px;
  left: 51%;
  animation-name: hands;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-play-state: paused;
}
.main-cont .hangman .line:nth-child(9) {
  width: 4px;
  height: 60px;
  transform: rotate(60deg);
  bottom: 186px;
  left: calc(67% + 2px);
  animation-name: hands;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-play-state: paused;
}
.main-cont .hangman .line:nth-child(10) {
  width: 4px;
  height: 60px;
  transform: rotate(120deg);
  bottom: 116px;
  left: calc(67% + 1px);
  animation-name: legs;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-play-state: paused;
}
.main-cont .hangman .line:nth-child(11) {
  width: 4px;
  height: 60px;
  transform: rotate(60deg);
  bottom: 115px;
  left: calc(51% + 1px);
  animation-name: legs;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-play-state: paused;
}

@keyframes hands {
  50% {
    bottom: 177px;
  }
  100% {
    bottom: 187px;
  }
}
@keyframes legs {
  50% {
    bottom: 105px;
  }
  100% {
    bottom: 115px;
  }
}
@keyframes body {
  50% {
    bottom: 148px;
  }
  100% {
    bottom: 158px;
  }
}
@keyframes neck {
  50% {
    bottom: 227px;
  }
  100% {
    bottom: 237px;
  }
}
@keyframes gallows1 {
  50% {
    bottom: 217px;
  }
  100% {
    bottom: 227px;
  }
}
@keyframes gallows2 {
  50% {
    bottom: 286px;
    height: 40px;
  }
  100% {
    bottom: 296px;
    height: 30px;
  }
}
/* End hangman */
/* Start keys */
.main-cont .keys {
  display: flex;
  justify-content: center;
  align-content: start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 40px 70px 40px 40px;
}

@media (max-width: 767px) {
  .main-cont .keys {
    width: 100%;
    padding: 30px;
  }
}

.main-cont .keys .key {
  padding: 10px;
  background-color: #ababab;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 767px) {
  .main-cont .keys .key {
    font-size: 16px;
    width: 30px;
    height: 30px;
  }
}

.main-cont .keys .clickable {
  background-color: blue;
  cursor: pointer;
  transition: background-color 0.3s;
}

.main-cont .keys .clickable:hover {
  background-color: #0c0c87;
}
/* End keys */
/* End main-content */
/* Start word typing */
.word {
  background-color: #eee;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 26px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

@media (max-width: 767px) {
  .word {
    font-size: 16px;
    gap: 5px;
  }
}

.word p {
  border-bottom: 3px solid gray;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-weight: bold;
  color: #eee;
}
/* End word typing */
/* Start result */
.result {
  padding: 15px 15px 7px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: purple;
  perspective-origin: center center;
  transform: translate(-50%, 0%);
  transition: 0.3s;
  display: block;
  visibility: hidden;
  border-radius: 6px;
  text-align: center;
  line-height: 1.6;
}

.result button {
  display: block;
  padding: 2px 5px;
  margin: 10px auto;
  cursor: pointer;
}

@media (max-width: 767px) {
  .result {
    padding: 10px;
    font-size: 12px;
  }
  .result button {
    font-size: 12px;
  }
}
/* End result */
/* copyright */
.copyright {
  text-align: end;
  margin: 50px 0;
}

.copyright span {
  color: red;
  font-weight: bold;
}
